{{!-- button --}}
<div class="btn-wrapper d-flex justify-content-center m-4">
    <div class="date ml-4 date-icon" id="dateBtn">
        <button type="button" class="btn">
            <span class="h5 text-dark">
                <i class="far fa-calendar-alt"></i>
            </span>
        </button>
    </div>
    <div class="today ml-4 mt-2">
        {{#if date}}
        <span class="h5 text-dark" id="showDateField">{{{date}}}</span>
        {{else}}
        <span class="h5 text-dark" id="showDateField">{{{today}}}</span>
        {{/if}}
    </div>
    <div class="new ml-3 new-icon">
        <a class="nav-link" href="/account/new"><span class="h5 text-dark"><i class="fas fa-plus-circle"></i></span></a>
    </div>
</div>
<div class="select-date d-flex justify-content-center">
  <form action="/account/selectDate" method="GET">
    <div class="date-input d-none" id="dateInputField">
      <input type="date" id="dateInput" name="date">
      <button class="btn bg-primary text-white mr-1" type="submit">選擇</button>
    </div>
  </form>
</div>
{{!-- sort button --}}
<div class="sort-btn-wrapper">
    <div class="sortbydate" id="sortByDate">
      <span class="text-dark"><i class="far fa-calendar-alt"></i></span>
      <span><i class="fas fa-arrow-up"></i></span>
      <span><i class="fas fa-arrow-down"></i></span>
    </div>
    <div class="sortbyPrice ml-2" id="sortByPrice">
      <span class="text-dark"><i class="fas fa-dollar-sign"></i></span>
      <span><i class="fas fa-arrow-up"></i></span>
      <span><i class="fas fa-arrow-down"></i></span>
    </div>
</div>
{{!-- list --}}
<div class="container mt-4">
  <div class="list-group">
      {{#if defaultList}}
        <span>Sorry, can't get any data!</span>
      {{/if}}
      {{#each paginationData}}
      <div class="list-group-item d-flex justify-content-between align-items-center {{#if this.monthlyCheck}}bg-warning{{/if}}">
        <div class="text-monospace text-dark">
          <i class="far fa-calendar-alt mr-2"></i>{{{this.date}}}
        </div>
        <div class="text-monospace">
          <span class="badge badge-pill badge-dark font-weight-normal p-1">
            ${{{this.price}}}
          </span>
        </div>
        <div class="text-monospace">
          {{#switch this.category}} 
            {{#case 'food'}} <img class="category-icon" src="/img/fast-food.png" alt="food" /> {{/case}} 
            {{#case 'cloth'}} <img class="category-icon" src="/img/tshirt.png" alt="cloth" /> {{/case}}
            {{#case 'drink'}} <img class="category-icon" src="/img/beer.png" alt="drink" /> {{/case}}  
            {{#case 'rent'}} <img class="category-icon" src="/img/home.png" alt="rent" /> {{/case}}
            {{#case 'traffic'}} <img class="category-icon" src="/img/car.png" alt="traffic" /> {{/case}}  
          {{/switch}}
        </div>
        <div class="text-monospace d-flex">
          <form action="/account/{{{this._id}}}/edit" method="GET">
            <button class="btn text-dark modify" type="submit"><i class="fas fa-edit"></i>修改</button>
          </form>
          <!-- Button trigger modal -->
          <button type="button" class="btn delete" data-toggle="modal" data-target="#warning{{{this.id}}}">
            <span class="ml-1 text-dark"><i class="fas fa-trash"></i></span>
          </button>
        </div>
      </div>
      {{!-- alert message for delete --}}
          <div class="modal fade" id="warning{{{this.id}}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">刪除?!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  確定刪除 {{{this.date}}} {{{this.category}}}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">先不要</button>
                  <form action="/account/{{{this.id}}}/delete?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-primary">衝了!</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      {{/each}}
  </div>
</div>
<form action="/" method="GET">
  <nav aria-label="Page navigation" class="mt-2">
    <ul class="pagination justify-content-center" id="pagination">
      {{#each pages}}
        <li class="page-item">
          <button class="page-link" type="submit" name="page" value="{{{this}}}">{{{this}}}</button>
        </li>
      {{/each}}
    </ul>
  </nav>
</form>
{{!-- chart --}}
<div class="container col-6 mt-4 text-center">
  <div class="selectDateTitle">
    <span class="h6">期間選擇</span>
  </div>
  <div class="selectDateOption">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item" id="week-chart">
        <button class="btn m-2 bg-primary text-white" type="button">
          <span>
            週
          </span>
        </button>
      </li>
      <li class="nav-item" id="month-chart">
        <button class="btn m-2 bg-primary text-white" type="button">
          <span>
            月
          </span>
        </button>
      </li>
      <li class="nav-item" id="halfyear-chart">
        <button class="btn m-2 bg-primary text-white" type="button">
          <span>
            半年
          </span>
        </button>
      </li>
      <li class="nav-item">
        <!-- Button trigger modal -->
        <button class="btn m-2 bg-primary text-white" type="button" data-toggle="modal" data-target="#costum-btn">
          <span>
            自訂
          </span>
        </button>
      </li>
    </ul>
  </div>
</div>
{{!-- dialog message for customize date select --}}
<div class="modal fade" id="costum-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">選擇區間</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-around">
          <label for="startDate">開始日期</label>
          <input class="form-control col-5" type="date" id="startDate" name="startDate">
        </div>
        <div class="d-flex justify-content-around mt-4">
          <label for="endDate">結束日期</label>
          <input class="form-control col-5" type="date" id="endDate" name="endDate">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">先不選</button>
          <button type="button" class="btn btn-primary" id="custom-chart" data-dismiss="modal">確定</button>
      </div>
    </div>
  </div>
</div>
{{!-- chart display --}}
<div class="chart-wrapper d-flex flex-wrap justify-content-center">
  <div class="chart1">
    <canvas id="totalExpense" width="300px" height="300"></canvas>
  </div>
  <div class="chart2">
    <canvas id="graduallyExpense" width="300px" height="300"></canvas>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/chart.js"></script>
