{{!-- button --}}
<div class="btn-wrapper d-flex justify-content-center m-4">
    <form action="/account/selectDate" method="GET">
      <div class="date-input mt-4 d-none" id="dateInputField">
        <button class="btn btn-secondary mr-1" type="submit">選擇</button>
        <input type="date" id="dateInput" name="date">
      </div>
    </form>
    <div class="date ml-4">
        <button type="button" onclick="showDateInput();" class="btn">
            <span class="h1 text-dark" style="text-shadow: -4px 5px 2px rgba(150, 150, 150, 1);">
                <i class="far fa-calendar-alt"></i>
            </span>
        </button>
    </div>
    <div class="today ml-4 mt-2">
        {{#if date}}
        <span class="h1 text-dark" id="showDateField">{{date}}</span>
        {{else}}
        <span class="h1 text-dark" id="showDateField">2019/11/20</span>
        {{/if}}
    </div>
    <div class="new ml-3">
        <a class="nav-link" href="/account/new"><span class="h1 text-dark" style="text-shadow: -4px 5px 2px rgba(150, 150, 150, 1);"><i class="fas fa-plus-circle"></i></span></a>
    </div>
</div>
{{!-- list --}}
<div class="container col-6 mt-4">
  <div class="list-group">
      {{#each list}}
      <div class="list-group-item list-group-item-action active d-flex justify-content-between">
        <div class="text-monospace">
          <i class="far fa-calendar-alt"></i>{{{this.date}}}
        </div>
        <div class="text-monospace">
          <span class="badge badge-pill badge-dark font-weight-normal">
            ${{{this.price}}}
          </span>
        </div>
        <div class="text-monospace">
          {{{this.category}}}
        </div>
        <div class="text-monospace d-flex">
          <form action="/account/{{{this.id}}}/edit?_method=PUT" method="POST">
            <button class="btn" type="submit"><i class="fas fa-edit"></i>修改</button>
          </form>
          <form action="/account/{{{this.id}}}/delete?_method=DELETE" method="POST">
            <button class="btn" type="submit"><i class="fas fa-trash"></i>刪除</button>
          </form>
        </div>
      </div>
      {{/each}}
  </div>
</div>
{{!-- chart --}}
<div class="container col-6 mt-4 text-center">
  <div class="selectDateTitle">
    <h1>期間選擇</h1>
  </div>
  <div class="selectDateOption">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">週</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">月</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">半年</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">自訂</a>
      </li>
    </ul>
  </div>
</div>
{{!-- chart display --}}
<div class="chart-wrapper d-flex">
  <div class="chart1 col-4">
    <canvas id="totalExpense" width="300" height="300"></canvas>
  </div>
  <div class="chart2 col-4">
    <canvas id="graduallyExpense" width="300" height="300"></canvas>
  </div>
  <div class="chart3 col-4" id="reminder">

  </div>
</div>



<script src="http://localhost:3000/javascript/chart.js"></script>
<script src="http://localhost:3000/javascript/index.js"></script>